<div class="container">
  <div class="col-lg-3 col-sm-6 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">Nouveau produit</div>
      <div class="panel-body" *ngIf="mode==1">
        <form #f="ngForm" (ngSubmit)="onSaveProduct(f.value)">
          <div class="form-group">
            <label class="control-label">designation</label>
            <input class="form-control" type="text" name="libelle" ngModel [(ngModel)]="materiel.libelle">
          </div>

          <div class="form-group">
            <label>Categorie :</label>

            <select class="form-control" ngModel [ngModel]="materiel.id" (ngModelChange)="fun($event)"   >

              

              <option *ngFor="let c of categories" name="idCategorie" [value]="c.id" >{{c.id}} / {{c.libelle}}</option>
              
            </select>
          </div>

          <div class="form-group">
            <label class="control-label">Prix</label>
            <input class="form-control" type="number" name="prix" ngModel [(ngModel)]="materiel.prix">
          </div>
          <div class="form-group">
            <label class="control-label">Unite</label>
            <input class="form-control" type="text" name="unite" ngModel [(ngModel)]="materiel.unite">
          </div>
          <button class="btn btn-success" type="submit">save</button>

        </form>
      </div>
      <div class="panel-body" *ngIf="mode==2">
        <button class="btn btn-success" (click)="onNewProduct()">Nouveau produit</button>
        <p></p>
        <div class="form-group">
          <label>ID:</label>
          <label>{{currentProduct.id}}</label>
        </div>
        <div class="form-group">
          <label>Designation:</label>
          <label>{{currentProduct.libelle}}</label>
        </div>
        <div class="form-group">
          <label>Unite:</label>
          <label>{{currentProduct.unite}}</label>
        </div>
        <div class="form-group">
          <label>Prix:</label>
          <label>{{currentProduct.prix}}</label>
        </div>

      </div>
    </div>
  </div>
</div>
